<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Enable directory browsing -->
        <directoryBrowse enabled="true" />

        <!-- Set default document -->
        <defaultDocument>
            <files>
                <!-- <add value="server.js" /> -->
                <add value="index.php" />
            </files>
        </defaultDocument>

        <!-- Enable PHP handler -->
        <handlers>
            <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\xampp\php\php-cgi.exe" resourceType="Either" />
            <!-- <add name="iisnode" path="*.js" verb="*" modules="iisnode" /> -->
        </handlers>
    </system.webServer>
</configuration>
